Class 4

In [8]:
# Tuples
# built-in datatype similar to lists
# collection of values
# tuples are immutable --> cannot be changed once they are created

mutable_synonyms = (3, 'fluctuatig', 'inconstant', 'variable')
mutable_synonyms

(3, 'fluctuatig', 'inconstant', 'variable')

In [9]:

# Sets
# mutable, unordered and distinct

things = {'coat', 'book', 'apple', 'box', 'hair', 'xylophone', 'lock'}

In [10]:
['cat', 'dog']

['cat', 'dog']

In [11]:
visitor_post_codes = ['R5R', 'M5V', 'M1M', 'M1M', 'M1T']
# to remove duplicates and return in alphabetical order, make list into a set
set(visitor_post_codes)

{'M1M', 'M1T', 'M5V', 'R5R'}

In [12]:
# create an empty set

empty_set = set()

In [13]:
#checkin for membership
'lock' in things

True

In [14]:
things.add('apple')

In [15]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [16]:
things.remove('lock')

In [17]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'xylophone'}

In [18]:
# union --> combine two sets to get the unique value in both
# intersection --> the values two sets have in common
# symmetric difference --> find the values that are only in one of the two sets
# difference --> find the values in the first set that are not in teh second set

rainbow = {'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'}
olympic_flag = {'red', 'green', 'yellow', 'blue', 'black'}

In [19]:
rainbow.difference(olympic_flag)

{'indigo', 'orange', 'violet'}

In [20]:
olympic_flag.difference(rainbow)

{'black'}

In [21]:
rainbow.symmetric_difference(olympic_flag)

{'black', 'indigo', 'orange', 'violet'}

In [22]:
rainbow.intersection(olympic_flag)

{'blue', 'green', 'red', 'yellow'}

In [23]:
rainbow.union(olympic_flag)

{'black', 'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}

In [24]:
rainbow

{'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}

In [25]:
olympic_flag

{'black', 'blue', 'green', 'red', 'yellow'}

In [26]:
# dictionaries
# Key:Value pairs
# ordered and mutable
# every key in a dictionary is unique

capital = {'Canada': 'Ottawa',
            'USA': 'D.C.',
            'Mexico': 'Mexico City'}
capital

{'Canada': 'Ottawa', 'USA': 'D.C.', 'Mexico': 'Mexico City'}

In [27]:
olympic_cities = {2020: 'Tokyo',
                2016: 'Rio de Janeiro',
                2012: 'London'}
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London'}

In [28]:
all_olympic_host = {'summer': olympic_cities,
                    'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}
all_olympic_host

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [29]:
# empty dictionary
empty_dictionary = {}
type(empty_dictionary)

dict

In [30]:
still_empty = dict()
type(still_empty)

dict

In [31]:
# access dict by passing number
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London'}

In [32]:
olympic_cities[2012]

'London'

In [33]:
all_olympic_host

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [34]:
all_olympic_host['winter'][2022]

'Beijing'

In [35]:
all_olympic_host['summer'][2020]

'Tokyo'

In [38]:
olympic_cities[2014]

KeyError: 2014

In [ ]:
# avoiding error with a default value
olympic_cities.get(2004, 'Toronto')

'Toronto'

In [ ]:
# and operator (with "in" operator)
2016 in olympic_cities

True

In [ ]:
'Rio de Janeiro' in olympic_cities

False

In [ ]:
olympic_cities[2008] = 'Barcelona'
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London', 2008: 'Barcelona'}

In [ ]:
# update value
olympic_cities[2008] = 'Beijing'
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London', 2008: 'Beijing'}

In [39]:
all_olympic_host

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [42]:
all_olympic_host.keys()

dict_keys(['summer', 'winter'])

In [44]:
olympic_cities.values()

dict_values(['Tokyo', 'Rio de Janeiro', 'London'])

In [46]:
if 'London' in olympic_cities.values():
    print('London was a host city')
else:
    print('London was not a host city')

London was a host city

In [50]:
# key valye pairs
all_olympic_host.items()

dict_items([('summer', {2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London'}), ('winter', {2022: 'Beijing', 2018: 'Pyeongchang'})])

In [52]:
#the same as above
olympic_cities.items()

dict_items([(2020, 'Tokyo'), (2016, 'Rio de Janeiro'), (2012, 'London')])

In [55]:
# Iterations
# loop goes through list modifying elements

# for loop

# runs an indented block of code for every item in an iterable, 
# e.g. lists, tuples, sets, dictionaries, strings
# specify a var name to refer to individ items by
# pick one that makes sense or use i (for index)

vowels = ['a', 'e', 'i', 'o', 'u']
for i in vowels:
    print(i)

a
e
i
o
u

In [ ]:
range(4)

range(0, 4)

In [61]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [63]:
for i in range(7):
    print(i, i*2)

0 0
1 2
2 4
3 6
4 8
5 10
6 12

In [67]:
input_fifles = ['data_01.csv', 'data_02.csv', 'data_03.csv', 'data_04.csv']
output_files = []

for i in input_fifles:
    output_files_name = 'pracessed_' + i.replace('.csv', '.xlxs')
    output_files.append(output_files_name)
    print(output_files)

['pracessed_data_01.xlxs']
['pracessed_data_01.xlxs', 'pracessed_data_02.xlxs']
['pracessed_data_01.xlxs', 'pracessed_data_02.xlxs', 'pracessed_data_03.xlxs']
['pracessed_data_01.xlxs', 'pracessed_data_02.xlxs', 'pracessed_data_03.xlxs', 'pracessed_data_04.xlxs']

In [81]:
# iteration with a set
veggies = {'potatoes', 'cabbage', 'carrots', 'celery', 'tomatoes', 'potatoes'}

In [82]:
veggies

{'cabbage', 'carrots', 'celery', 'potatoes', 'tomatoes'}

In [88]:
for j in veggies: 
    print(f'I love {j}')

I love celery
I love carrots
I love potatoes
I love tomatoes
I love cabbage

In [93]:
ttc_stops = ['Islington', 'Royeal York', 'Keele', 'Jane', 'Union']

for idx, stop in enumerate(ttc_stops):
    print(idx, stop)

0 Islington
1 Royeal York
2 Keele
3 Jane
4 Union

In [95]:
ttc_stops = ['Islington', 'Royeal York', 'Keele', 'Jane', 'Union']

for idx, stop in enumerate(ttc_stops):
    print(f'stop {idx + 1} is {stop}')

stop 1 is Islington
stop 2 is Royeal York
stop 3 is Keele
stop 4 is Jane
stop 5 is Union

In [97]:
numbers = [1, 10, 100, 1000]

for idx, val in enumerate(numbers):
    print(idx, val)

0 1
1 10
2 100
3 1000

In [98]:
numbers = [1, 10, 100, 1000]

for idx, val in enumerate(numbers):
    numbers[idx] = val * 2
numbers

[2, 20, 200, 2000]

In [106]:
# the same without the enumerate() function
numbers = [1, 10, 100, 1000]
idx = 0

for val in numbers:
    numbers[idx] = val * 2
    idx = idx + 1 # idx += 1
numbers

[2, 20, 200, 2000]

In [108]:
# example with tuples

lats = (43.12, 24.5433, 592.68)
lons = (0.332, 8.3, 90.28)

for i, j in zip(lats, lons):
    print (i, j)

43.12 0.332
24.5433 8.3
592.68 90.28

In [110]:
# example with tuples

lats = [43.12, 24.5433, 592.68]
lons = [0.332, 8.3, 90.28]

for i, j in zip(lats, lons):
    print (i, j)

43.12 0.332
24.5433 8.3
592.68 90.28

In [114]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London'}

In [117]:
for key, value in olympic_cities.items():
    print(key, value)

2020 Tokyo
2016 Rio de Janeiro
2012 London

In [120]:
# loops within loops
days = [12, 30, 17, 6, 7]
months = ['april', 'may', 'june', 'jan', 'february']

for i in days:
    for j in months:
        print(f"My birthday is on {j}, {i}!")

My birthday is on april, 12!
My birthday is on may, 12!
My birthday is on june, 12!
My birthday is on jan, 12!
My birthday is on february, 12!
My birthday is on april, 30!
My birthday is on may, 30!
My birthday is on june, 30!
My birthday is on jan, 30!
My birthday is on february, 30!
My birthday is on april, 17!
My birthday is on may, 17!
My birthday is on june, 17!
My birthday is on jan, 17!
My birthday is on february, 17!
My birthday is on april, 6!
My birthday is on may, 6!
My birthday is on june, 6!
My birthday is on jan, 6!
My birthday is on february, 6!
My birthday is on april, 7!
My birthday is on may, 7!
My birthday is on june, 7!
My birthday is on jan, 7!
My birthday is on february, 7!

In [121]:
pets = ['dog', 'bird', 'cat']
names = ['buddy', 'al']

for i in pets: # i = 'dog'
    for j in names: # j = 'buddy'
        print(f"My pet is a {i} and its name is {j}")

My pet is a dog and its name is buddy
My pet is a dog and its name is al
My pet is a bird and its name is buddy
My pet is a bird and its name is al
My pet is a cat and its name is buddy
My pet is a cat and its name is al